* {
  font-family: "Source Sans Pro", sans-serif;
}

.content {
  background-image: url("../../../public/images/wallpaperflare.com_wallpaper\ \(9\).jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  height: 100vh;
  padding-top: 20px;
}
#timSv {
  width: 50%;
}
tr td {
  width: 20%;
}
